#brand_bar {
  background-color: white;
  font-size: 1.6rem;
  display: absolute;
}

#main_search {
  background-color: #fc2;
  height: 100vh;
  display: flex;
  align-items: center;
}

#person_search {
  background-color: #28a;
  height: 55vh;
  display: flex;
  align-items: center;
}

#person_search_reminder {
  background-color: grey;
  color: white;
  font-size: 1.6rem;
  height: 10vh;
  display: flex;
  align-items: center;
}

#person_search_reminder p {
  margin: 0px;
}

#person_results_list {
  background-color: #fc2;
  height: 35vh;
  display: flex;
  align-items: center;
}

#business_search_btns {
  background-color: #28a;
  height: 100vh;
  display: flex;
  align-items: center;
}

#business_name_search, #business_category_search {
  background-color: grey;
  height: 50vh;
  display: flex;
  align-items: center;
}

#business_name_search_reminder, #business_category_search_reminder {
  background-color: white;
  color: black;
  font-size: 1.6rem;
  height: 10vh;
  display: flex;
  align-items: center;
}

#business_name_search_reminder p, #business_category_search_reminder p {
  margin: 0px;
}

#business_name_results_list, #business_category_results_list {
  background-color: #fc2;
  height: 40vh;
  display: flex;
  align-items: center;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
}

h1 {
  font-size: 4rem;
  margin: 20px;
}

.btn-primary {
  border: 0px;
  font-size: 1.6rem;
  padding-right: 18px;
  padding-bottom: 10px;
  padding-left: 18px;
}

#main_search .btn-primary {
  background-color: #28a;
  color: white;
}

#business_search_btns .btn-primary {
  background-color: #fc2;
  color: black;
}

form {
  display: inline;
}

#person_search_form, #business_name_search_form, #business_category_search_form {
  font-size: 1.65rem;
}

.submit-button {
  background-color: white;
  color: black;
  border: 0px;
  padding: .2rem 1rem;
  font-size: 1.65rem;
  line-height: 1.5;
  border-radius: .3rem;
}

span {
  font-style: italic;
}

#person_results_list, #business_name_results_list, #business_category_results_list {
  font-size: 1.6rem;
}

table {
  width: 100%;
}
