<!DOCTYPE html>
<html lang="en-GB">

<head>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/custom.css">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

</head>

<body>

  <main>

    <nav id="brand_bar" class="navbar fixed-top">
      <a href="#main_search">
        The Phonebook
      </a>
    </nav><!-- /#brand_bar -->

    <div id="main_search">
      <div class="container text-center">

        <h1>What would you like to do? </h1>


        <div class="row">

          <div class="col-md-4 offset-md-1">
            <button class="btn btn-primary btn-xl" id="search_by_person_btn">search by person</button>
          </div>

          <div class="col-md-4 offset-md-2">
            <button class="btn btn-primary btn-xl" id="search_by_business_btn">search by business</button>
          </div>

        </div><!-- /.row -->

      </div><!-- /.container (main_search) -->

    </div><!-- /#main_search -->

    <div id="person_search" {% if do_not_hide_surname %} class="do_not_hide" {% endif %}>

      <div class="container text-center">

        <h1> Who are you looking for? </h1>

        <div id="person_search_form">
          <form method="post" action="/#person_search_results">
            <label for="surname">Name:</label>
            <input class="form-control-lg" id="surname" name="surname" required="required">
            <label for="postcode ">Postcode:</label>
            <input class="form-control-lg" id="postcode" name="postcode" required="required">
            <input type="submit" value="Submit" name="submit" class="submit-button">
          </form>
        </div><!-- /#person_search_form -->

      </div><!-- /.container -->

    </div><!-- /#person_search -->

    <div id="person_search_results">

      <div {% if do_not_hide_surname %} class="do_not_hide" {% else %} class="results" {% endif %} id="ResultsPerson">

        <div id="person_search_reminder">
          <div class="container text-center">
            <p>You searched for: <span>{{surname}}</span> in <span>{{postcode}}</span>.</p>
          </div><!-- /.container -->
        </div><!-- /#search_reminder -->

        <div id="person_results_list">
          <div class="container text-center">

            {% if "Sorry" in result %}
            <p>Your search does not exist in our database. Exterminate.</p>
            {% else %}
            <table>
              <tr>
                <th>Surname</th>
                <th>Firstname</th>
                <th>Address</th>
                <th>Town/City</th>
                <th>Postcode</th>
                <th>Telephone</th>
                <th>Distance</th>
              </tr>
              {% for item in result %}
              <tr>
                <td>{{ item["surname"] }}</td>
                <td>{{ item["first_name"] }}</td>
                <td>{{ item["street"] }}</td>
                <td>{{ item["town"] }}</td>
                <td>{{ item["postcode"] }}</td>
                <td>{{ item["tel_number"] }}</td>
                <td>{{ item["distance"] }}</td>
              </tr>
              {% endfor %}
            </table>
            {% endif %}
          </div> <!-- /.container -->
        </div><!-- /#person_results_list -->

      </div><!-- /.results -->

    </div><!-- /#person_search_results -->

    <div id="business_search_btns" {% if do_not_hide_buttons %} class="do_not_hide" {% endif %}>
      <div class="container text-center">

        <h1> How would you like to search? </h1>

        <div class="row">

          <div class="col-md-4 offset-md-1">
            <button class="btn btn-primary btn-xl" id="search_by_biz_name_btn"> by business name </button>
          </div>

          <div class="col-md-4 offset-md-2">
            <button class="btn btn-primary btn-xl" id="search_by_biz_category_btn"> by business category </button>
          </div>
        </div><!-- /.row -->

      </div><!-- /.container -->

    </div><!-- /#business_search_btns -->

    <div id="business_name_search" {% if do_not_hide_name %} class="do_not_hide" {% endif %}>

      <div class="container text-center">

        <div id="business_name_search_form">
          <form method="post" action="/#business_name_search_results">
            <label for="name">Name:</label>
            <input class="form-control-lg" id="name" name="name" required="required">
            <label for="postcode ">Postcode:</label>
            <input class="form-control-lg" id="name_postcode" name="postcode" required="required">
            <input type="submit" value="Submit" name="submit" class="submit-button">
          </form>
        </div><!-- /#business_name_search_form -->
        <button id="switch_to_biz_category_search">Click here to search by business category instead.</button>

      </div><!-- /.container -->

    </div><!-- /#business_name_search -->

    <div id="business_name_search_results">

      <div {% if do_not_hide_name %} class="do_not_hide" {% else %} class="results" {% endif %}>

        <div id="business_name_search_reminder">
          <div class="container text-center">
            <p>You searched for: <span>{{name}}</span> in <span>{{postcode}}</span>.</p>
          </div><!-- /.container -->
        </div><!-- /#business_name_search_reminder -->
        <div id="business_name_results_list">
          <div class="container text-center">

            {% if "Sorry" in result %}
            <p>Your search does not exist in our database. Exterminate.</p>
            {% else %}
            <table>
              <tr>
                <th>Business Name</th>
                <th>Category</th>
                <th>Address</th>
                <th>Town/City</th>
                <th>Postcode</th>
                <th>Telephone</th>
                <th>Distance</th>
              </tr>
              {% for item in result %}
              <tr>
                <td>{{ item["name"] }}</td>
                <td>{{ item["category"] }}</td>
                <td>{{ item["street"] }}</td>
                <td>{{ item["town"] }}</td>
                <td>{{ item["postcode"] }}</td>
                <td>{{ item["tel_number"] }}</td>
                <td>{{ item["distance"] }}</td>
              </tr>
              {% endfor %}
            </table>
            {% endif %}
          </div> <!-- /.container -->
        </div><!-- /#business_name_results_list -->

      </div><!-- /.results -->

    </div><!-- /#business_name_search_results -->

    <div id="business_category_search" {% if do_not_hide_category %} class="do_not_hide" {% endif %}>

      <div class="container text-center">

        <div id="business_category_search_form">
          <form method="post" action="/#business_category_search_results">
            <label for="category">Category:</label>
            <input class="form-control-lg" id="category" name="category" required="required">
            <label for="postcode ">Postcode:</label>
            <input class="form-control-lg" id="business_postcode" name="postcode" required="required">
            <input type="submit" value="Submit" name="submit" class="submit-button">
          </form>

        </div><!-- /#business_category_search_form -->
        <button id="switch_to_biz_name_search">Click here to search by business name instead.</button>

      </div><!-- /.container -->

    </div><!-- /#business_category_search -->

    <div id="business_category_search_results">

      <div {% if do_not_hide_category %} class="do_not_hide" {% else %} class="results" {% endif %}>

        <div id="business_category_search_reminder">
          <div class="container text-center">
            <p>You searched for: <span>{{business_category}}</span> in <span>{{postcode}}</span>.</p>
          </div><!-- /.container -->
        </div><!-- /#business_category_search_reminder -->

        <div id="business_category_results_list">
          <div class="container text-center">

            {% if "Sorry" in result %}
            <p>Your search does not exist in our database. Exterminate.</p>
            {% else %}
            <table>
              <tr>
                <th>Business Name</th>
                <th>Category</th>
                <th>Address</th>
                <th>Town/City</th>
                <th>Postcode</th>
                <th>Telephone</th>
                <th>Distance</th>
              </tr>
              {% for item in result %}
              <tr>
                <td>{{ item["name"] }}</td>
                <td>{{ item["category"] }}</td>
                <td>{{ item["street"] }}</td>
                <td>{{ item["town"] }}</td>
                <td>{{ item["postcode"] }}</td>
                <td>{{ item["tel_number"] }}</td>
                <td>{{ item["distance"] }}</td>
              </tr>
              {% endfor %}
            </table>
            {% endif %}
          </div> <!-- /.container -->
        </div><!-- /#business_category_results_list -->

      </div><!-- /.results -->

    </div><!-- /#business_category_search_results -->





  </main>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

  <script src="static/js/engine.js"></script>

</body>

</html>
