<!DOCTYPE html>
<html lang="en-GB">

<head>
  </head>



<body>

<h2> find a person </h2>

  <div id="contact-form">
           <form method="post" action="/person">
               <label for="name">Name:</label>
               <input id="name" name="name" required="required">
               <label for="postcode ">Postcode:</label>
               <input id="postcode" name="postcode" >
               <input type="submit" value="Submit" name="submit" id="submit-button">
           </form>
       </div>


{{result}}






  </body>



</html>
